KUBECONFIG=
SSH_SECRET_KEY_PATH=

TENCENTCLOUD_SECRET_ID=
TENCENTCLOUD_SECRET_KEY=

COS_BUCKET_NAME=
COS_REGION=

OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL_ID=

TKE_KUBERNETES_REPO=
TKE_CONTAINERD_REPO=